.navbar-brand img {
    height: 2em;
    width: auto;
    margin: 0;
    display: block;
}

body {
    width: 90%;
    margin: auto;
    background-image: url(../img/hatterkep.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content {
    background-color: rgba(13, 15, 39, 0.9);
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 40px;
}

header {
    position: relative;
    background-size: cover;
    height: 300px;
}

.fofejlec {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent), url(../img/header.jpg);
}

.kapcsolatfejlec {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent), url(../img/kapcsolat.jpg);
    background-position-y: center;
}

.dolgozokfejlec {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent), url(../img/office.jpg);
    background-position-y: center;
}

.nyelvekfejlec {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent), url(../img/js-kod.jpg);
    background-position-y: center;
}

header h1 {
    font-family: monospace;
    font-weight: 900;
}

.headertxt {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.row {
    margin-top: 5px;
}

.rowcard {
    padding-bottom: 100px;
    padding-top: 50px;
    margin: auto;
}

.card {
    padding-bottom: 10px;
}

h2,
h5,
h6 {
    font-weight: bold;
}

.kapcsolatlogo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.biztonsagfejlec {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent), url(../img/httpsfejlec.jpg);
    background-position-y: center;
}

.biztonsagszoveg {
    text-align: justify;
}

.index_img {
    max-width: 100%;
    margin: 20px;
    height: auto;
    display: block;
    padding-right: 15px;

}

.jovobek {
    margin-left: 20px;
}

.front_back {
    width: 500px;
    margin: 0 auto;
    height: auto;
    display: block;

}

.karrier_fejlec {
    background-image: url(../img/webfejlesztő.jpg);
}